<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ygx.crudtaskmanager.mapper.TaskEntityMapper">
  <resultMap id="BaseResultMap" type="org.ygx.crudtaskmanager.module.TaskEntity">
    <!--@mbg.generated-->
    <!--@Table taskentity-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="METHOD_NAME" jdbcType="VARCHAR" property="methodName" />
    <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="cronExpression" />
    <result column="TASK_STATE" jdbcType="INTEGER" property="taskState" />
    <result column="OLDTASK_NAME" jdbcType="VARCHAR" property="oldTaskName" />
    <result column="OLDGROUP_NAME" jdbcType="VARCHAR" property="oldGroupName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, TASK_NAME, GROUP_NAME, DESCRIPTION, METHOD_NAME, CRON_EXPRESSION, TASK_STATE, OLDTASK_NAME, OLDGROUP_NAME
  </sql>

  <select id="findByCondition" resultType="TaskEntity">
    select * from taskentity
    where TASK_NAME like concat('%',#{condition},'%')
    or GROUP_NAME like concat('%',#{condition},'%')
  </select>

  <select id="findSameName" resultType="TaskEntity">
    select * from taskentity
    where GROUP_NAME = #{groupName}
    and TASK_NAME = #{taskName}
  </select>

</mapper>
